<h1>Here are your order details</h1>


Your order quantitiy is: <p><%= @order.quantity%></p>
Your user id is : <p><%= @order.user.id %></p>
Your order id is : <p><%= @order.id %></p>
your order subtotal is : <p>your sub total is <%= @order.subtotal %></p>
your order tax is : <p>your sub total is <%= @order.tax %></p>
your order total is : <p>your sub total is <%= @order.total %></p>
