
<h1>Welcome, please enter the information below to create a new product.</h1>




<%= form_tag("/products", method: "post") do %>

  <h3><%= label_tag(:name, "Enter product name:") %></h3>
  <h3><%= text_field_tag(:name) %></h3>

  <h3><%= label_tag(:price, "Enter product price:") %></h3>
  <h3><%= text_field_tag(:price) %></h3>

  <h3><%= label_tag(:description, "Enter product description:") %></h3>
  <h3><%= text_field_tag(:description) %></h3>


  <h3><%= submit_tag("Create My Product!") %></h3>
<% end %>
