<h2>Here are your product details!</h2>

<ol>
  <h3><% @product.images.all.each do |image| %></h3>
  <h3><img src="<%= image.image_url %>" alt=""></h3>
  <h3><% end %></h3>
  <h3><%= @product.supplier.name %></h3>
  <h3><%= @product.name %></h3>
  <h3><%= @product.description %></h3>
  <h3>Price: $<%= @product.price %></h3>
  <h3>Tax: $<%= @product.tax %></h3>
  <h3>Total: $<%= @product.total %></h3>
</ol>
<p><%= link_to "Back to all products", "/products" %></p>

<% if current_user && current_user.admin %>
<p><%= link_to "Edit your product", "/products/#{@product.id}/edit" %></p>
<p><%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %></p>
<% end %>

<p>This product belongs to the following categories:</p>
<p><% @product.categories.each do |category| %></p>
<p><%= category.name %></p>
<p><% end %></p>


<%=form_tag("/carted_products", method: "post") do %>
<%= label_tag(:quantity, "Quantity:") %>
<%= text_field_tag(:quantity) %>
<%= hidden_field_tag(:product_id, @product.id) %>
<%= submit_tag("Add to cart!") %>
<% end %>
